:root{
    --background: #E0E9EC;
    --dark-gray: #C2CACD;
    --light-gray: #DAE0E1;
    --lighter-gray: #e4e8e9;
    --mainblue: #094074;
    --light-blue: #95b5d3;
    --mainorange: #C1740E;
    --black: #494E50;
    --border-radius: 8px;
}
