#vault-visu {
    background: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 38px 36px;
    margin-top: 108px;
}
#vault-visu_title {
    font-size: 1.3rem;
}
#vault-visu_close {
    padding: 4px;
    height: 18px;
    width: 18px;
    background-image: url(../assets/close.png);
    background-size: 18px;
    vertical-align: text-top;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 350ms ease-out;
}
#vault-visu_close:hover {
    transform: rotateZ(90deg);
}
#vault-visu_btn-valid {
    margin-top: 20px;
    align-self: flex-end;
    cursor: pointer;
}
#vault-visu_link {
    padding-top: 16px;
    color: var(--mainblue);
}
.vault-visu_field {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.vault-visu_field > div > p:first-child {
    display: inline;
}
.vault-visu_visibility.show {
    background-image: url(../assets/show.png);
}
.vault-visu_visibility.hide {
    background-image: url(../assets/hide.png);
}
.vault-visu_clip {
    background-image: url(../assets/copy.png);
}
.vault-visu_clip {
    height: 15px;
    width: 15px;
    background-size: 15px;
}
.vault-visu_visibility {
    height: 16px;
    width: 16px;
    background-size: 16px;
}
.vault-visu_visibility,
.vault-visu_clip {
    display: inline-block;
    padding: 2px;
    margin-left: 4px;
    vertical-align: text-top;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 150ms ease-out;
}
.vault-visu_visibility:hover {
    background-size: 15px;
}
.vault-visu_clip:hover {
    background-size: 14px;
}
