st-input {
	margin-top: 18px;
}
#vault-edit_title{
	font-size: 1.3rem;	
}
#vault-edit {
	background: var(--dark-gray);
	border-radius: var(--border-radius);
	padding: 38px 36px;
}
#vault-edit_btn-valid {
    margin-top: 20px;
    align-self: flex-end;
}