st-input {
    margin-top: 18px;
}
#vault-edit_title {
    font-size: 1.3rem;
}
#vault-edit {
    background: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 38px 36px;
}
#vault-edit_btn-valid {
    margin-top: 20px;
    align-self: flex-end;
}
#generate-pwd-container {
    padding-top: 8px;
    height: calc(98% - 48px - 75px - 2px);
}
#generate-pwd-btn {
    align-self: flex-end;
}
#input-len {
    padding: 2px 6px;
    width: 20px;
    text-align: center;
}
label[for="input-len"] {
    padding-right: 8px;
    font-size: 0.95em;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
